@import "tailwindcss";

:root {
  --background: #18191c;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-marcellus: var(--font-marcellus);
  --font-rethink-sans: var(--font-rethink-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18191c;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rethink-sans), sans-serif;
}

/* -------------------Slide Animations----------------------------- */
/* Right থেকে আসবে */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate-slideInRight {
  animation: slideInRight 0.4s ease-out forwards;
}

/* Left থেকে আসবে */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate-slideInLeft {
  animation: slideInLeft 0.4s ease-out forwards;
}

/* Top থেকে আসবে (যদি দরকার হয়) */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

/* ------------------------------------------------ */

/* ------------------------------------------------ */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
/* ------------------------------------------------ */
